$font-main: 'Nunito Sans', sans-serif;

$white: rgba(255, 255, 255, 1);
$black: rgba(24, 18, 30, 1);
$dark-secondary: rgba(26, 62, 62, 1);
$yellow: rgba(242, 190, 34, 1);
$green: rgba(69, 118, 106, 1);
$lilac: rgba(98, 118, 170, 1);
$beige: rgba(243, 241, 225, 1);

$mobile: 982px;
